<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:each="us : ${users}">
    <h1>
        <a th:text="${us.getName}"></a>
        <a th:text="${us.getLastName()}"></a>
        <a th:text="${us.getAge()}"></a>
    </h1>
    <form th:action="@{/edit}">
        <button type="submit" th:name="id" th:value="${us.id}">Edit</button>
    </form>
    <form th:method="post" th:action="@{/delete}">
        <button type="submit" th:name="id" th:value="${us.id}">Delete</button>
    </form>
    <br/>
    <hr/>
</div>
<br/>
<hr/>
<a href="/new">Add new user</a>
</body>
</html>